@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

/* Блок с навигацией */

.page-header {
  color: #000000;
  background-color: #ffffff;
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1200;
  margin: 0 auto;
  padding: 0 70px;
  align-items: flex-start;
}

.navigation-logo {
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  max-width: 600px;
  list-style-type: none;
}


.navigation-link-current {
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  color: #000000;
}

.navigation-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-user-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: center;
}


.navigation-user-link {
  text-decoration: none;
  text-transform: none;
  color: #000000;
  padding: 20px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Ссылки */

.navigation-link {
  text-decoration: none;
  text-transform: none;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  padding: 20px 16px;
}

.footer-social-link {
  text-decoration: none;
  display: inline-flex;
  width: 47px;
  height: 40px;
  align-items: center;
}


.header-button {
  color: #fff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: 160px;
  margin-left: 20px;
  text-decoration: none;
  display: inline-flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

/* Приветственный блок */

.hero {
  color: #fff;
  background-color: #82b3d3;
  background-image: url("../images/divider.svg"), url("../images/substrate-hero.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  padding: 51px 0 82px 0;
  background-position: bottom, top;
}

.hero-img {
  display: block;
  margin: 0 auto;
}


/* Преимущества */

.tagline {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

/* Преимущества и туристические плюшки */

.advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 69px;
}

.slogan, .invitation {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 100px;
  background-color: #82b3d3;
}




.advantages-item h3 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item p{
  margin: 0;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}







.advantages-item-light-blue h3,
.advantages-item-blue h3 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-item-light-blue p,
.advantages-item-blue p {
  margin: 0;
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
}












.advantages-item-full {
  width: 100%;
  max-width: 100%;
  display: flex;
}

.advantages-item-wrapper {
  flex-grow: 1;
  width: 33.3%;
  padding: 102px 85px;
}


.advantages-img {
  max-width: 66.6%;
  object-fit: cover;
  height: 100%;
}


.advantages-item {
  /*width: 100%;
  max-width: 100%;
  text-align: center;
  */
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  display: flex;
  /*
  justify-content: space-between;
  text-transform: none;
  flex-wrap: wrap;
  padding: 0;
  */
}



.advantages-item-light-blue {
  max-width: 33.3%;
  background-color: #f0f6fa;
  padding: 112.5px 85px;
}

.advantages-item-blue {
  background-color: #e6f0f6;
  max-width: 33.3%;
  padding: 112.5px 85px;
}



/*

.index-columns {
  color: #fff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
}




.index-columns .advantages-desc {
  color: #fff;
  background-color: #82b3d3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
}



.advantages-title-blue {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 112.5;
}


.advantages-desc-blue {
  margin: 0;
  color: #fff;
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: none;
  padding: 0 85;
}

.advantages-title-square, .advantages-title-road, .advantages-title-tourism {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "PT Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.advantages-desc-square, .advantages-desc-road, .advantages-desc-tourism {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-transform: none;
}
  */

/* Приезжайте */


/* Приглашение и инфраструктура */

.infrastructure {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 64px;
}

.infrastructure-list {
  color: #000000;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 64px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.infrastructure-item-burger {
  background-color: #ffffff;
  max-width: 33.3%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.infrastructure-item-hotel {
  background-color: #f0f6fa;
  max-width: 33.3%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-position: 81px 162.5px 232px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/icon-hotel.svg");
}


.infrastructure-item-gift {
  background-color: #f0f6fa;
  max-width: 33.3%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.infrastructure-desc {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}



.infrastructure-wrapper {
  flex-grow: 1;
  padding: 81px 85px;
}

.infrastructure-item-hotel-icon {
  background-position: center;
}


/* Поиск гостиниц и подписка */

.search {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  height: 406px;
  padding-top: 95px;
}

.search-title {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.search-desc {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  margin: 0;
  padding-top: 20px;
}

.search-button {
  color: #fff;
  background-color: #756157;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
  align-items: center;
  width: 376px;
  margin: 50px auto 0;
  text-decoration: none;
  padding-top: 258px;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  border-radius: 4px 4px 4px 4px;
}

/* Рассылка */

.subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/substrate-subscribe.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-desc {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

.subscribe-field-label {
  width: 100%;
  max-width: 452px;
}

.subscribe-field {
  padding: 14px 20px;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-transform: none;
  border-radius: 4px 0 0 4px;
  border: navajowhite;
}

.button-subscribe {
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  max-width: 232px;
  border-radius: 0 4px 4px 0;
  flex-grow: 1;
  border: navajowhite;
}


/* Подвал */

.page-footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  padding: 0 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  width: 170px;
}

.footer-social-list {
  color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  color: #000000;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-phone {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0;
}

.footer-contacts {
  display: flex;
  justify-content: center;
  font-style: normal;
  flex-grow: 1;
}

/* Страница каталога */
/* Гостиницы Седоны: фильтр */

.catalog-header {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/substrate-filter.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

/* Инфраструктура, чекбоксы, множественный выбор + Тип жилья, радиокнопки, единственный выбор*/

.catalog-filter-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.control-label {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-transform: none;
}

/* Фильтр стоимости: поля для ввода нижней и верхней границы, бегунок */

.catalog-filter-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.filter-price-range {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.catalog-filter-submit {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-reset {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

/* Результаты поиска */

.catalog {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase
}

.select-control-text {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

/* Каталог гостиниц: карточки */

.product-card-link {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-transform: none;
  text-decoration: none;
}

.product-card-type {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.product-card-cost {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.product-card-button-about {
  color: #fff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.add-button-favorite {
  color: #fff;
  background-color: #82B3D3;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.icon-star {
  width: 100%;
  overflow: hidden;
  max-width: 18px;
}

.product-card-reiting {
  color: #333;
  background-color: #F2F2F2;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  border-radius: 4px 4px 4px 4px;
}

/* Рассылка catalog*/

.subscribe-catalog {
  color: #ffffff;
  text-align: center;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-points {
  color: #000;
  background-color: #fff;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}
