@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/* Блок с навигацией */

.page-header {
  color: #000000;
  background-color: #ffffff
}

/* Ссылки */

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.header-button {
  color: #fff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}


/* Приветственный блок */

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/substrate-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

/* Преимущества */

.tagline {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Преимущества и туристические плюшки */

.advantages {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}


.index-colums .advantages-title {
  color: #fff;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.index-colums .advantages-desc {
  color: #fff;
  background-color: #82b3d3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
}


.advantages-desc {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 12px;
  text-align: center;
  text-transform: none;
}

.advantages-title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

/* Приглашение и инфраструктура */

.infrastructure-list {
  color: #000000;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-desc {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

/* Поиск гостиниц и подписка */

.search-title {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-desc {
  color: #000000;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}

.search-button {
  color: #fff;
  background-color: #756157;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase;
  align-items: center;
}

/* Рассылка */

.subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/substrate-subscribe.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.subscribe-title {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-desc {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}

.subscribe-form {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  width: 452px;
  height: 52px;
  text-align: center;
  text-transform: none;
}

.button-subscribe {
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/* Подвал */

.footer-phone {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Страница каталога */
/* Гостиницы Седоны: фильтр */

.catalog-header {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/substrate-filter.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

/* Инфраструктура, чекбоксы, множественный выбор + Тип жилья, радиокнопки, единственный выбор*/

.catalog-filter-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.control-label {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  text-transform: none;
}

/* Фильтр стоимости: поля для ввода нижней и верхней границы, бегунок */

.catalog-filter-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
}

.filter-price-range {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.catalog-filter-submit {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-reset {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

/* Результаты поиска */

.catalog {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase
}

.select-control-text {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

/* Каталог гостиниц: карточки */

.product-card-link {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  text-transform: none;
  text-decoration: none;
}

.product-card-type {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.product-card-cost {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  text-transform: none;
}

.product-card-button-about {
  color: #fff;
  background-color: #756157;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.add-button-favorite {
  color: #fff;
  background-color: #82B3D3;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.icon-star {
  width: 100%;
  overflow: hidden;
  max-width: 18px;
}

.product-card-reiting {
  color: #333;
  background-color: #F2F2F2;
  font-size: 16px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  border-radius: 4px 4px 4px 4px;
}

/* Рассылка catalog*/

.subscribe-catalog {
  color: #ffffff;
  text-align: center;
}

.pagination-current {
  color: #000;
  background-color: #F2F2F2;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link {
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-points {
  color: #000;
  background-color: #fff;
  font-size: 22px;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}
